/* Login Specific Styles */
.register-container .auth-content {
  animation: slideInFromRight 0.6s ease-out;
  background-color: var(--blue-light);
  min-height: 550px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(144, 39, 176, 0.2);

}
.register-container .submit-button{
  margin-bottom: 20px;
}
.register-container .illustration-section {
  flex: 0 0 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  top:-110px;
  height: 400px;
  background: var(--blue-gradient);
  border-radius: 0 0 300px 300px;
  box-shadow: 0 4px 3px rgba(8, 8, 8, 0.1);
  position: relative;
}
.register-container .form-title{
  color: var(--primary);
}
.register-container .link-button{
  color: var(--x-1st);
}
.register-container .illustration-image {
  width: 100%;
  height: 450px;
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
