.notification-main-container{
    margin-top: 100px;
}
.notification-loading-spinner{
    margin-top: 100px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.notification-list-main{
    padding: 12px;
}