.forum-header {
    text-align: center;
    margin: 70px 0 20px 0 ;
  }
  
  .forum-header h1 {
    font-size: 2.5rem;
    color: #333;
    font-family: Plus Jakarta Sans, Helvetica;
    font-weight: bold;
    margin-bottom: 10px;
  }

 /* {
    color: #1e1e1e;

    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
   */
  
  .forum-header p {
    font-size: 1.1rem;
    color: #666;
    font-family: Plus Jakarta Sans, Helvetica;
  }
  