.list-friend{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.friend-item{
    display: flex;
    flex-direction: column;
}

.list-friend-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.list-friend-pagination button {
  background: #eee;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s;
}
.list-friend-pagination button:hover {
  background: #ccc;
}