.div-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 401px;
  justify-content: center;
  left: 165px;
  position: absolute;
  top: 1933px;
}

.div-wrapper .services-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.div-wrapper .text-wrapper-19 {
  color: var(--x-2nd);
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 7.20px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.div-wrapper .text-wrapper-20 {
  color: #1e1e1e;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.div-wrapper .frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 18px;
  position: relative;
}

.div-wrapper .frame-22 {
  height: 100px;
  position: relative;
  width: 100px;
}
