:root {
  --bold-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-14-font-size: 14px;
  --bold-type-14-font-style: normal;
  --bold-type-14-font-weight: 700;
  --bold-type-14-letter-spacing: 0px;
  --bold-type-14-line-height: normal;
  --bold-type-24-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-24-font-size: 24px;
  --bold-type-24-font-style: normal;
  --bold-type-24-font-weight: 700;
  --bold-type-24-letter-spacing: 0px;
  --bold-type-24-line-height: normal;
  --bold-type-44-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-44-font-size: 44px;
  --bold-type-44-font-style: normal;
  --bold-type-44-font-weight: 700;
  --bold-type-44-letter-spacing: 0px;
  --bold-type-44-line-height: normal;
  --bold-type-70-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-70-font-size: 70px;
  --bold-type-70-font-style: normal;
  --bold-type-70-font-weight: 700;
  --bold-type-70-letter-spacing: 0px;
  --bold-type-70-line-height: normal;
  --medium-type-18-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-18-font-size: 18px;
  --medium-type-18-font-style: normal;
  --medium-type-18-font-weight: 500;
  --medium-type-18-letter-spacing: 0px;
  --medium-type-18-line-height: 30px;
  --medium-type-24-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-24-font-size: 24px;
  --medium-type-24-font-style: normal;
  --medium-type-24-font-weight: 500;
  --medium-type-24-letter-spacing: 0px;
  --medium-type-24-line-height: normal;
  --semibold-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-14-font-size: 14px;
  --semibold-type-14-font-style: normal;
  --semibold-type-14-font-weight: 600;
  --semibold-type-14-letter-spacing: 0px;
  --semibold-type-14-line-height: normal;
  --semibold-type-24-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-24-font-size: 24px;
  --semibold-type-24-font-style: normal;
  --semibold-type-24-font-weight: 600;
  --semibold-type-24-letter-spacing: 0px;
  --semibold-type-24-line-height: normal;
  --semibold-type-28-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-28-font-size: 28px;
  --semibold-type-28-font-style: normal;
  --semibold-type-28-font-weight: 600;
  --semibold-type-28-letter-spacing: 0px;
  --semibold-type-28-line-height: normal;
  --variable-collection-black: rgba(28, 28, 28, 1);
  --x-1st: #d6a4ff;
  --x-2nd: rgba(244, 17, 207, 1);
  --x-4th: rgba(250, 205, 73, 1);
  --primary: #00A5CF;
  --blue-gradient: #43a9d8;
  --blue-light:#E3F2FD;
  --purple-light: #F3E5F5;
  --grey:#808080;
  --purple-gradient:#d6a4ff;
}
