.services-option {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  left: 165px;
  position: absolute;
  top: 1383px;
}

.services-option .cards-services-instance {
  left: -205px !important;
  top: 1960px !important;
}
